@media all and (max-width:919px) and (min-width:570px) {

    #mobile_splash{
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2000;
        pointer-events: none;
        background-color: white;
        display: none;
    }

    #mobile_splash video {
        width: 100%;
        height: 100vh;
        object-fit: cover;
        position: absolute;
        top: -15vh;
        left: 0;
        background-color: white;
    }

    /* //////////////////////////// 숨김메뉴 //////////////////////////// */

#hidemenu_bg{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    display: none;
    z-index: 9999;
}

#hidemenu_box {
    width: calc(100% - 100px);
    height: calc(100vh - 100px);
    margin: 50px auto;
    padding: 10px;
    background-color:  white;
    /* display: none; */
    position: relative;
    box-sizing: border-box;
}

#hidemenu_left{
    width: 100%;
    height: calc(100vh - 100px);
    position: absolute;
    top: 0;
    left: 0;
}

#hide_menu_wrap{
    width: 100%;
    height: calc(100vh - 150px);
    /* float: left; */
    position: absolute;
    top: 0;
    left: 0;

}

.hide_mainmenu{
    width: 50%;
    height: calc((calc(100vh - 180px)) / 2);
    float: left;
    border-right: 1px solid rgba(0, 153, 65, 0.5);
    font-size: 20px;
    box-sizing: border-box;
    position: relative;
    /* cursor: pointer; */
}

.bottom_border{
    border-bottom: 1px solid rgba(0, 153, 65, 0.5);
}

.hide_mainmenu>a{
    top: 30px;
    left: 30px;
    font-family: 'SUIT-bold';
    color: #009941;
    position: absolute;
}

.hide_mainmenu:hover{
    background-color: #EEEEEE;
}

.hide_submenu{
    bottom: 20px;
    right: 30px;
    width: 150px;
    font-size: 14px;
    /* background-color: #FFCB00; */
    position: absolute;
}

.hide_submenu>li>a{
    color: #009941;
    font-weight: 100;
}

.hide_submenu>li{
    text-align: right;
    width: 100%;
    height: 30px;
}

.hide_submenu>li:hover a{
    font-family: 'SUIT-bold';
}

.right_border_x{
    border-right: none;
}

#hidemenu_right{
    width: 50px;
    height: 50px;
    top: 0;
    right: 0;
    position: absolute;
    z-index:999;
}

#hidemenu_close{
    width: 20px;
    height: 20px;
    top: 20px;
    right: 20px;
    position: absolute;
    cursor: pointer;
}

#hidemenu_close img{
    width: 100%;
}

#hidemenu_video{
    width: 300px;
    height: 100%;
    top: 0;
    right: 10%;
    overflow: hidden;
    /* background-color: aquamarine; */
    position: absolute;
    display: none;
}

#hidemenu_video>video{
    bottom: 10%;
    left: -300px;
    margin: 0 auto;
    height: 75%;
    position: absolute;
}


#hidemenu_login {
    width: 210px;
    height: 30px;
    bottom: 15px;
    right: -20px;
    position: absolute;
}

#hidemenu_login li {
    width: 70px;
    height: 12px;
    float: left;
    font-size: 12px;
    margin-left: -7px;
}

#hidemenu_login li a {
    height: 10px;
    color: #009941;
    border-right: 1px solid rgba(0, 153, 65, 0.5);
    text-align: left;
    padding-right: 10px;
    padding-left: 10px;
    box-sizing: border-box;
    /* background-color: #FFCB00; */
}

#hidemenu_login li:first-child {
    margin-right: -10px;
}

#hidemenu_login li:last-child>a{
    border-right: none;
}








/* //////////////////////////// 헤더 //////////////////////////// */

header {
    width: 100%;
    height: 70px;
    position: absolute;
    z-index: 998;
    /* background-color: coral; */
}

#header_wrap {
    width: 80%;
    height: 70px;
    margin: 0 auto;
    position: relative;
    /* background-color: blueviolet; */
}

#header_logo {
    width: 150px;
    height: 30px;
    float: left;
    margin-top: 40px;
    /* background-color: aqua; */
}

#header_logo a img {
    width: 100%;
}

#menu_wrap {
    width: 480px;
    height: 30px;
    margin: 0 auto;
    padding-top: 40px;
    margin-right: 20%;
    /* background-color: chocolate; */
    display: none;
}

.mainmenu {
    width: 120px;
    font-size: 15px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    float: left;
    /* background-color: #009941; */
}

.mainmenu a {
    color: white;
}


.mainmenu:hover>a {
    color: #FFCB00;
}


.mainmenu>ul {
    width: 100%;
    height: 0;
    overflow: hidden;
    margin-top: 5px;
    transition-duration: 1s;
    /* background-color: blueviolet; */
}

.submenu>li {
    width: 100%;
    height: 27px;
    font-size: 13px;
    line-height: 30px;
    font-weight: 100;
    /* background-color: cornflowerblue; */
}

.mainmenu:hover .submenu {
    height: 150px;
}

.submenu>li:hover>a {
    color: #FFCB00;
}




#loginmenu {
    width: 180px;
    height: 30px;
    top: 45px;
    right: 60px;
    position: absolute;
    display: none;
}

#loginmenu li {
    width: 60px;
    float: left;
    font-size: 11px;
}

#loginmenu li a {
    color: white;
}

#loginmenu li:first-child {
    margin-right: -8px;
}

#hidemenu_btn {
    width: 52px;
    height: 52px;
    top: 45px;
    right: 0;
    position: absolute;
}


/* //////////////////////////// 섹션01 - 메인광고 //////////////////////////// */

#sec01 {
    width: 100%;
    height: 100vh;
    background-color: #009941;
    overflow: hidden;
    position: relative;
}

#sec01_bot_yellow{
    width: 100%;
    height: 56vh;
    bottom: 0;
    background-color: #FFCB00;
    position: absolute;
}

#sec01_con {
    width: 90%;
    height: 800px;
    margin: 0 auto;
    top: 12vh;
    position: relative;
    /* background-color: cadetblue; */
}

#macbook_video {
    width: 700px;
    top: 0px;
    left: -23px;
    position: absolute;
}

#sec01 video {
    width: 460px;
    top: 50px;
    left: 82px;
    position: absolute;
}

#macbook {
    width: 90%;
    top: 20px;
    left: 0;
    position: absolute;
}

#kado {
    width: 160px;
    top: 230px;
    left: 50px;
    position: absolute;
    animation: kado_move 1s ease-in-out infinite alternate;
}

#kado_shadow {
    width: 160px;
    top: 445px;
    left: 50px;
    position: absolute;
    animation: kado_shadow_move 1s ease-in-out infinite alternate;
}

@keyframes kado_move {
    0% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(10px);
    }
}

@keyframes kado_shadow_move {
    0% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(5px);
    }
}




#eventmenu_wrap {
    width: 500px;
    height: 500px;
    position: absolute;
    bottom: 30px;
    right: -10px;
    overflow: hidden;
    color: transparent;
    /* background-color: antiquewhite; */
}

#eventmenu_slide_box {
    width: 550px;
    height: 520px;
    position: absolute;
    top: 0;
    left: 0;
    /* position: relative; */
    /* background-color: aqua; */
}

.eventmenu {
    width: 600px;
    height: 400px;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    font-size: 80px;
    display: none;
    /* background-color: #009941; */
}

.eventmenu:nth-child(1) {
    display: block;
} 

.event_img {
    margin-top: 10px;
    margin-left: 65px;
    width: 370px;
    height: 370px;
    animation: eventmenu_move 1.5s ease-in-out infinite alternate;
}

.event_img img {
    width: 110%;
}


@keyframes eventmenu_move {
    0% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(5px);
    }
}



.event_text {
    width: 300px;
    height: 40px;
    top: 190px;
    right: 170px;
    color: #009941;
    font-size: 20px;
    text-align: right;
    font-weight: 300;
    position: absolute;
}

.event_price {
    width: 300px;
    height: 40px;
    top: 213px;
    right: 170px;
    color: #009941;
    font-size: 32px;
    text-align: right;
    font-weight: 900;
    font-family: 'SUIT-Bold';
    position: absolute;
}



.slide01_text{
    top: 200px;
    right: 330px;
    position: absolute;
}

.slide01_price{
    top: 223px;
    right: 330px;
    position: absolute;
}


#eventmenu_btn_box {
    bottom: 10px;
    right: 120px;
    width: 80px;
    height: 35px;
    position: absolute;
    /* background-color: #FFCB00; */
}

.slide_button {
    width: 25px;
    height: 25px;
    /* background-color: aqua; */
    text-align: center;
    position: absolute;
}

.slide_button img{
    width: 100%;
}

#slide_prev {
    left: 0;
    cursor: pointer;
}

#slide_next {
    right: 0;
    cursor: pointer;
}


/* //////////////////////////// 섹션02 - 메뉴 //////////////////////////// */

#sec02 {
    width: 100%;
    height: 100vh;
    background-image: url(../img/logo_bg.png);
    background-size: 450px;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 50vh;
    overflow: hidden;
    /* background-color: aqua; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


#sec02_title {
    width: 100%;
    height: 20px;
    font-size: 18px;
    text-align: center;
    color: #009941;
    padding-left: 5%;
    margin-bottom: 50px;
    letter-spacing: 20px;
}

#sec02_menuwrap {
    width: 65%;
    height: 70%;
    /* background-color: aqua; */
}

.subway_menu {
    width : 100%;
    cursor: pointer;
    float: left;
}

.sec02_menu_img {
    width: 200px;
    height: 200px;
}

.imgW img {
    width: 100%;
}

.imgH img {
    height: 110%;
}

/* 이미지 위치 조절 */

.m_sandwich {
    margin-top: 0;
    margin-left: -20px;
}

.m_salad {
    margin-top: -45px;
    margin-left: -60px;
    float: right;
}

.m_wrap {
    margin-top: -70px;
    margin-left: -50px;
}


.m_etc {
    margin-top: -60px;
    margin-left: -10px;
    float: right;
} 


/* 메뉴 이미지 크기 조절 */

.m_sandwich img{
    transform: scale(1.3);
}

.m_salad img{
    margin-top: -20px;
    transform: scale(1.2);
}

.m_wrap img {
    margin-top: -5px;
    transform: scale(1.05);
}


.m_etc img {
    margin-top: 25px;
    transform: scale(1.05);
}


.sec02_menu_Ltext {
    width: 130px;
    height: 25px;
    font-size: 20px;
    font-family: 'SUIT-Heavy';
    color: #009941;
    /* background-color: blueviolet; */
}

.sec02_menu_Ltext img {
    height: 100%;
}

.sec02_menu_Stext {
    width: 170px;
    height: 15px;
    top: 25px;
    font-size: 13px;
    font-weight: 500;
    color: #333;
    /* background-color: coral; */
}

.salad_Ltext {
    width: 100px;
    margin-right: 0;
    margin-top: -90px;
    text-align: right;
    float: right;
}

.salad_Stext {
    width: 100px;
    margin-right: 0;
    margin-top: -65px;
    text-align: right;
    float: right;
    /* background-color: #FFCB00; */
}


.wrap_Ltext {
    width: 100px;
    margin-top: -70px;
    margin-left: 55px;
    text-align: center;
}

.wrap_Stext {
    width: 100px;
    margin-top: 0;
    margin-left: 55px;
    text-align: center;
}


.etc_Ltext {
    width: 100px;
    margin-right: 0;
    margin-top: -60px;
    text-align: right;
    float: right;
}

.etc_Stext {
    width: 100px;
    margin-right: 0;
    margin-top: -35px;
    text-align: right;
    float: right;
    /* background-color: #FFCB00; */
}




#circle_text {
    top: 0;
    left: 0;
    width: 350px;
    height: 350px;
    position: absolute;
    opacity: 0.4;
}

#circle_dot {
    bottom: 0;
    right: 0;
    width: 350px;
    height: 350px;
    position: absolute;
    opacity: 0.4;
    display: none;
}


/* 마우스오버 땡땡이원 위치 조절 */

#sec02_menuA>#circle_dot {
    top: -90px;
    left: -80px;
    position: absolute;
}

#sec02_menuB>#circle_dot {
    top: -60px;
    left: -100px;
    position: absolute;
}

#sec02_menuC>#circle_dot {
    bottom: -30px;
    left: -10px;
    position: absolute;
}

#sec02_menuD>#circle_dot {
    left: -90px;
    position: absolute;
}

.subway_menu:hover #circle_dot {
    display: block;
}





.m_sandwich {
    animation: sandwich_move 1s ease-in-out infinite alternate;
}


@keyframes sandwich_move {
    0% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
    }
}

.m_salad {
    animation: salad_move 1s ease-in-out 0.2s infinite alternate;
}

@keyframes salad_move {
    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0px);
    }
}

.m_wrap {
    animation: wrap_move 1s ease-in-out 0.3s infinite alternate;
}

@keyframes wrap_move {
    0% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
    }
}

.m_etc {
    animation: etc_move 1s ease-in-out infinite alternate;
}

@keyframes etc_move {
    0% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
    }
}

#circle_text {
    animation: circle_text_move 20s infinite linear;
}

@keyframes circle_text_move {
    0% {
        transform: rotate(-360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

#circle_dot {
    animation: circle_text_dot 0.5s ease-in-out;
}

@keyframes circle_text_dot {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}






/* ////////////////// 메뉴 팝업 //////////////// */

.menu_popup {
    display: none;
}

#menuB_salad,
#menuC_wrap,
#menuD_etc {
    display: none;
}

/* #menuA_sandwich, #menuB_salad, #menuC_wrap, #menuD_etc */

.menu_popup {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
    position: fixed;
}

.menu_popup_inbox {
    width: 80%;
    height: 70vh;
    margin: 0 auto;
    top: 15vh;
    left: 10%;
    background-color: white;
    position: absolute;
}

.menu_popup_logo {
    width: 100px;
    height: 10px;
    margin: 0 auto;
    margin-top: 50px;
}

.menu_popup_line {
    width: 80%;
    height: 1px;
    margin: 0 auto;
    margin-top: 30px;
    border-bottom: 1px solid #009941;
}

.menu_popup_title {
    width: 300px;
    height: 25px;
    font-size: 25px;
    font-weight: 900;
    font-family: 'SUIT-Heavy';
    text-align: center;
    color: #009941;
    margin: 20px auto;
    /* background-color: #FFCB00; */
}

.menu_popup_close {
    width: 25px;
    height: 25px;
    top: 20px;
    right: 20px;
    color: #009941;
    font-size: 40px;
    font-weight: 100;
    position: absolute;
    cursor: pointer;
}


.menu_slide_wrap {
    /* width: 1220px;
    height: 400px; */
    width: 80%;
    height: 100%;
    margin: 60px auto;
    overflow: hidden;
    /* background-color: #FFCB00; */
}

.swiper-wrapper {
    margin-top: -70px;
}

.swiper-slide {
    width: 100%;
    height: 400px;
    background-color: transparent;
    /* background-color: #009941; */
}

.sandwich_img {
    margin-top: -10px;
    transform: scale(0.5);
}

.salad_img {
    margin-top: -10px;
    transform: scale(0.7);/
}

.wrap_img {
    margin-top: -10px;
    transform: scale(0.6);
}


.swiper-slide>.sandwich_img {
    width: 150%;
    /* height: 200px; */
    /* height: 45%; */
}

.swiper-slide>.wrap_img {
    margin-top: 15px;
    width: 150%;
    /* height: 45%; */
}

.swiper-slide>.salad_img {
    width: 150%;
    /* height: 80%; */
}

.swiper-slide>.etc_img {
    margin-top: 15px;
    width: 170%;
    transform: scale(0.5);
}


.swiper-slide h1 {
    top: 325px;
    /* left: 120px; */
    left: 15%;
    font-size: 14px;
    color: #009941;
    position: absolute;
}

.swiper-slide span {
    top: 345px;
    /* left: 120px; */
    left: 15%;
    color: #333;
    position: absolute;
}

.menu_eng {
    width: 300px;
    height: 20px;
    text-align: left;
    font-size: 10px;
    /* background-color: #FFCB00; */
}

.menu_kcal {
    width: 15px;
    border-top: 1px solid #009941;
    text-align: left;
    font-size: 12px;
    line-height: 40px;
    margin-top: 30px;
    /* background-color: #FFCB00; */
}





.swiper-button-prev,
.swiper-button-next {
    transform: scale(0.4);
}

.swiper-button-prev {
    left: 20px;
    position: absolute;
}

.swiper-button-next {
    right: 20px;
    position: absolute;
}

.swiper-pagination {
    display: none;
}




/* //////////////////////////// 섹션03 - 스토리 //////////////////////////// */

#sec03 {
    width: 100%;
    height: 100vh;
    /* background-color: green; */
    position: relative;
    overflow: hidden;
}

.sec03_box {
    /* width: calc(100% / 3); */
    width: 100%;
    height: calc(100vh / 3);
    float: left;
    position: relative;
    background-color: black;
    transition: 1s;
    cursor: pointer;
    overflow: hidden;
    pointer-events: none;
}

.sec03_imgbox img {
    width: 100%;
    opacity: 0.3;
    transition: 1s;
}

#sec03_box1>.sec03_imgbox{
    height: 100vh;
}

#sec03_box1>.sec03_imgbox>img{
    margin-top: -20%;
    width: 100%;
}

#sec03_box2>.sec03_imgbox{
    height: 100vh;
}

#sec03_box2>.sec03_imgbox>img{
    /* margin-right: -450px; */
    margin-top: -15%;
    width: 100%;
}

#sec03_box3>.sec03_imgbox{
    height: 100vh;
}

#sec03_box3>.sec03_imgbox>img{
    margin-top: -20%;
    width: 100%;
}

.sec03_textwrap {
    top: 12vh;
    width: 100%;
    height: 200px;
    /* background-color: aqua; */
    position: absolute;
}

.sec03_maintext {
    width: 100%;
    text-align: center;
    font-size: 25px;
    font-weight: 900;
    color: #FFCB00;
}

.sec03_maintext img {
    width: 100px;
}

.sec03_subtext {
    width: 100%;
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    line-height: 18px;
    font-weight: 100;
    color: white;
}





/* //////////////////////////// 섹션04 - 프랜차이즈 //////////////////////////// */

#sec04 {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    /* background-color: #009941; */
    background-image: url(../img/bg_pattern.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

#sec04_boxwrap {
    /* width: 839px; */
    width: 70%;
    height: 400px;
    /* margin: 0 auto;
    top: 17vh;
    position: relative; */
    position: absolute;
    top:32%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* background-color: aqua; */
}

#sec04_leftbox {
    width: 100%;
    height: 200px;
    margin-bottom: 5px;
    position: relative;
    overflow: hidden;
    background-color: black;
}

#leftbox_textwrap {
    width: 100%;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: 100;
    font-size: 12px;
    position: absolute;
}

#leftbox_textwrap>img{
    width: 100px;
    height: 30px;
}

#leftbox_underline {
    width: 85%;
    height: 10px;
    border-bottom: 1px solid #FFCB00;
    margin: 0 auto;
    margin-bottom: 10px;
}

#leftbox_textdown {
    margin-top: 2px;
    color: #FFCB00;
}

#sec04_leftbox{
    background-color: black;
}


#sec04_leftbox>img {
    width: 100%;
    margin-top: -30%;
    transition-duration: 1s;
    cursor: pointer;
    opacity: 0.5;
}



#sec04_leftbox:hover>img {
    transform: scale(1.1);
    opacity: 1;
}



#sec04_rightbox {
    display: none;
}




/*///////////////  sec04_프랜차이즈 슬라이드 ///////////////*/

#sec04_bottom_box {
    width: 100%;
    height: 280px;
    margin-bottom: 5px;
    overflow: hidden;
    position: relative;
    background-color: black;
}

.franchise_slide {
    width: 600px;
    height: 400px;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    line-height: 400px;
    font-size: 80px;
    display: none;
    cursor: pointer;
}

.franchise_slide:nth-child(1) {
    display: block;
} 

.franchise_btn {
    width: 20px;
    height: 20px;
    /* background-color: aqua; */
    font-size: 20px;
    color: #FFCB00;
    line-height: 100px;
    text-align: center;
    top: 35%;
    transform: translateY(-50%);
    cursor: pointer;
    position: absolute;
}

#franchise_prev {
    left: 10px;
}

#franchise_next {
    right: 10px;
}

.sec04_smallbox_textwrap {
    width: 200px;
    height: 60px;
    font-size: 14px;
    top: 34%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFCB00;
    text-align: center;
    position: absolute;
    /* background-color: aqua; */
}


.sec04_smallbox_textup{
    width: 200px;
    height: 20px;
    top: -180px;
    position: absolute;
}

.sec04_smallbox_textdown{
    width: 200px;
    height: 20px;
    font-size: 25px;
    font-family: 'SUIT-Heavy';
    top: -155px;
    position: absolute;
}


.franchise_slide {
    width: 100%;
    background-color: black;
    display: none;
}

.franchise_slide>img {
    opacity: 0.3;
    width: 100%;
}

.franchise_slide:nth-child(1) {
    display: block;
} 




/* //////////////////////////// 푸터 //////////////////////////// */

footer {
    width: 100%;
    height: 250px;
    bottom: 0;
    background-color: #003E01;
    color: #CBCBCB;
    font-size: 11px;
    font-weight: 100;
    position: absolute;
}

#footer_left {
    width: 80%;
    height: 50px;
    border-bottom: 1px solid #CBCBCB;
    margin-top: 35px;
    margin-left: 10%;
    float: left;
}

#footer_up {
    width: 80%;
    height: 20px;
    position: absolute;
}

#footer_up li {
    height: 11px;
    line-height: 10px;
    padding-right: 10px;
    margin-right: 10px;
    margin-top: 10px;
    font-weight: 100;
    float: left;
    border-right: 1px solid #CBCBCB;
}

#footer_up>li:nth-child(2) {
    font-weight: 900;
}

#footer_down {
    top: 110px;
    width: 80%;
    height: 30px;
    position: absolute;
}

#footer_down>li:nth-child(2) {
    margin-top: 5px;
}

#footer_right {
    width: 300px;
    height: 20px;
    margin-top: 95px;
    margin-right: 10%;
    float: right;
}

.footer_sns_box {
    width: 27px;
    height: 27px;
    margin-left: 5px;
    float: right;
    cursor: pointer;
}

.footer_sns_box img {
    width: 100%;
}



}

/* end */